{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "server": true
  },
  // To give you an idea how to override rule options:
  "rules": {
    "semi": [2, "never"],
    "quotes": [0],
    "strict": 0,
    "no-unused-vars": [0]
  }
}
